<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <meta charset="utf-8">
    <title>Shoes</title>
  </head>
  <body>
    <h1> {{ store.getName }}
      <h3>Brands</h3>
      {% if brands is not empty %}
            <ul>
                {%for brand in brands%}
                    <li><a href="/brand/{{ brand.getId }}">{{ brand.getName }}</a></li>
                {%endfor%}
            </ul>
        {% endif %}

        <h3>Add a brand</h3>
            <form action="/store/{{ store.getId }}/add_brand" method="post">
                <input id="store_id" = name="store_id" type="hidden" value="{{ store.getId }}">
                    <label>Add Brand</label>
                    <select name="brand_id" type="text" required>
                            <option value="" disabled selected>Choose a brand to add</option>
                        {% for brand in all_brands %}
                            <option value="{{ brand.getId }}">{{ brand.getName }}</option>
                        {% endfor %}
                    </select>
                <button type="submit" class="btn btn-success">Add Brand</button>
            </form>

            <br>

            <h3>Edit store name:</h3>
            <form action="/store/{{ store.getId }}/update" method="post">
                <input type="hidden" name="_method" value="patch">

                <label for='new_name'>New Store Name:</label>
                <input name='new_name' type='text' value="{{ store.getName}}" required>

                <button type='submit' class="btn btn-primary">Update Store</button>
            </form>

            <!-- <form action="/store/{{ store.getId }}/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="btn btn-danger" type="submit">Delete This Store</button>
            </form> -->

            <h3><a href="/">Home</a></h3>


  </body>
</html>
